#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

:root {
    --lpx-logo: url('/images/logo/leptonx/icon.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}





.select2-dropdown {
    z-index: 9999999 !important;
}

.select2-container--default
.select2-selection--single {
    --tw-bg-opacity: 1;
    background-color: rgb(249 251 253 / var(--tw-bg-opacity)) !important;
    height: 40px !important;
    min-width: 150px;
    background-color: #f0f4f7 !important;
    border-radius: 0.5rem !important;
    border-color: #e8eef3 !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px !important;
    }

.select2-selection--single {
    border: 1px solid #323a461a !important;
}

.select2-selection__rendered {
    border-radius: 4px !important;
}

.select2-selection__arrow {
    border-radius: 4px !important;
}

.select2-disabled .select2-selection {
    pointer-events: none;
    opacity: 0.75;
}

.select2-disabled .select2-selection > span {
    background-color: inherit !important;
}


/* Hide Blazorise license banner globally */
#blazorise-license-banner-host {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    opacity: 0 !important;
}



.lpx-header-bottom .lpx-nav-menu .outer-menu-item .lpx-menu-item, .lpx-header-top > .lpx-nav .lpx-nav-menu .outer-menu-item .lpx-menu-item, .lpx-header-top > .lpx-right-menu > .lpx-nav .lpx-nav-menu .outer-menu-item .lpx-menu-item{
    padding: 0 10px 0 0 !important;
}


.hc-action-icons {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 0.75rem;
}

.hc-action-icons i {
    margin-left: 0.75rem !important;
}

.hc-action-icon {
    font-size: 14px;
    transition: opacity 0.2s, transform 0.2s;
}

.hc-action-icon:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.hc-action-edit {
    color: #6c5dd3 !important;
}

.hc-action-view {
    color: #0d6efd !important;
}

.hc-action-tasks {
    color: #198754 !important;
}

.hc-action-members {
    color: #0dcaf0 !important;
}

.hc-action-delete {
    color: #c00d49 !important;
}