<div class="lpx-footbar-container">
    <div class="lpx-footbar">
        <div class="lpx-footbar-copyright">
            <span>@DateTime.UtcNow.Year©</span>
            <a href="#" target="_blank">Developed by</a>
            <span>by</span>
            <a href="#" target="_blank">HTL</a>
        </div>
        
    </div>
</div>
